<%= render partial: "layouts/jumbotron", locals: {heading: "InstaFeedback"} %>


<div class="container">
	<div class="row">
		<div class="col-md-6">
		<h3> <%= link_to("Tweet Breakdown", total_tweets_path) %></h3>
		<h3> <%= link_to("Redis Test", redis_test_path) %></h3>
		<h3> <%= link_to("Text API", text_api_path) %></h3>
		</div>
	</div>
</div>




