
<%= render partial: "layouts/jumbotron", locals: {heading: "InstaFeedback"} %>


<div class="container">
	<div class="row">
		<% @words.each do |x| %>
			<div class="col-md-12 tweets">
				
				<p> The word <strong><%= x[0] %></strong> was used <%= x[1] %> times</p>
			</div>
		<% end %>
	</div>
</div>



