

/*=======================================
TWEET FEED STYLES
==================================================*/
.twt-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}
.twt-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}
.twt-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}