<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Workspace</title>
=======
  <title>Devweek16</title>
>>>>>>> e737b8fd328cf5f5870f7e2358b3e4f7961364f1
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
